USE [master]
GO
/****** Objeto: Database [DB_PlanMejoramiento] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
CREATE DATABASE [DB_PlanMejoramiento]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_PlanMejoramiento', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DB_PlanMejoramiento.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_PlanMejoramiento_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DB_PlanMejoramiento_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_PlanMejoramiento].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_PlanMejoramiento]
GO
/****** Objeto: Table [dbo].[Programa] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programa](
	[IdPrograma] [int] IDENTITY(1,1) NOT NULL,
	[CodigoPrograma] [varchar](20) NOT NULL,
	[NombrePrograma] [varchar](200) NOT NULL,
	[Version] [varchar](10) NOT NULL,
	[NivelFormacion] [varchar](60) NOT NULL,
	[Duracion] [int] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPrograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Ficha] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ficha](
	[IdFicha] [int] IDENTITY(1,1) NOT NULL,
	[IdPrograma] [int] NOT NULL,
	[CodigoFicha] [varchar](20) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[Jornada] [varchar](30) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFicha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Aprendiz] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aprendiz](
	[IdAprendiz] [int] IDENTITY(1,1) NOT NULL,
	[IdFicha] [int] NOT NULL,
	[TipoDocumento] [varchar](10) NOT NULL,
	[NumeroDocumento] [varchar](20) NOT NULL,
	[Nombres] [varchar](100) NOT NULL,
	[Apellidos] [varchar](100) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Estado] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAprendiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[vw_AprendicesDetalle] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_AprendicesDetalle] AS
    SELECT
        a.IdAprendiz,
        a.TipoDocumento,
        a.NumeroDocumento,
        a.Nombres,
        a.Apellidos,
        a.Nombres + ' ' + a.Apellidos AS NombreCompleto,
        a.Correo,
        a.Telefono,
        a.Estado,
        f.CodigoFicha,
        p.NombrePrograma
    FROM Aprendiz a
    INNER JOIN Ficha    f ON a.IdFicha    = f.IdFicha
    INNER JOIN Programa p ON f.IdPrograma = p.IdPrograma;

GO
/****** Objeto: Table [dbo].[Instructor] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[IdInstructor] [int] IDENTITY(1,1) NOT NULL,
	[IdCentro] [int] NOT NULL,
	[TipoDocumento] [varchar](10) NOT NULL,
	[NumeroDocumento] [varchar](20) NOT NULL,
	[Nombres] [varchar](100) NOT NULL,
	[Apellidos] [varchar](100) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Especialidad] [varchar](100) NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInstructor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PlanMejoramiento] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanMejoramiento](
	[IdPlan] [int] IDENTITY(1,1) NOT NULL,
	[IdAprendiz] [int] NOT NULL,
	[IdInstructor] [int] NOT NULL,
	[IdPlanPadre] [int] NULL,
	[TipoPlan] [varchar](20) NOT NULL,
	[Actividades] [varchar](max) NOT NULL,
	[Observaciones] [varchar](max) NULL,
	[FechaAsignacion] [date] NOT NULL,
	[FechaLimite] [date] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[ArchivoPlan] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: View [dbo].[vw_PlanesDetalle] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PlanesDetalle] AS
    SELECT
        pm.IdPlan,
        pm.TipoPlan,
        pm.Actividades,
        pm.Observaciones,
        pm.FechaAsignacion,
        pm.FechaLimite,
        pm.Estado,
        pm.IdPlanPadre,
        a.Nombres + ' ' + a.Apellidos AS NombreAprendiz,
        i.Nombres + ' ' + i.Apellidos AS NombreInstructor,
        pm.IdAprendiz,
        pm.IdInstructor
    FROM PlanMejoramiento pm
    INNER JOIN Aprendiz   a ON pm.IdAprendiz   = a.IdAprendiz
    INNER JOIN Instructor i ON pm.IdInstructor = i.IdInstructor;

GO
/****** Objeto: Table [dbo].[Evaluacion] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evaluacion](
	[IdEvaluacion] [int] IDENTITY(1,1) NOT NULL,
	[IdPlan] [int] NOT NULL,
	[Producto] [varchar](20) NOT NULL,
	[Conocimiento] [varchar](20) NOT NULL,
	[Desempeno] [varchar](20) NOT NULL,
	[Observaciones] [varchar](max) NULL,
	[FechaEvaluacion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEvaluacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: View [dbo].[vw_PlanesEvaluacion] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PlanesEvaluacion] AS
    SELECT
        pm.IdPlan,
        pm.TipoPlan,
        pm.Estado      AS EstadoPlan,
        a.Nombres + ' ' + a.Apellidos AS NombreAprendiz,
        i.Nombres + ' ' + i.Apellidos AS NombreInstructor,
        e.Producto,
        e.Conocimiento,
        e.Desempeno,
        e.Observaciones AS ObservacionesEval,
        e.FechaEvaluacion,
        CASE
            WHEN e.Producto = 'Aprueba'
             AND e.Conocimiento = 'Aprueba'
             AND e.Desempeno = 'Aprueba'
            THEN 'Aprobado'
            ELSE 'No Aprobado'
        END AS ResultadoFinal
    FROM PlanMejoramiento pm
    INNER JOIN Aprendiz   a ON pm.IdAprendiz   = a.IdAprendiz
    INNER JOIN Instructor i ON pm.IdInstructor = i.IdInstructor
    LEFT  JOIN Evaluacion e ON pm.IdPlan       = e.IdPlan;

GO
/****** Objeto: Table [dbo].[Centro] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Centro](
	[IdCentro] [int] IDENTITY(1,1) NOT NULL,
	[CodigoCentro] [varchar](20) NOT NULL,
	[NombreCentro] [varchar](150) NOT NULL,
	[Departamento] [varchar](80) NOT NULL,
	[Municipio] [varchar](80) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCentro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CentroPrograma] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentroPrograma](
	[IdCentro] [int] NOT NULL,
	[IdPrograma] [int] NOT NULL,
 CONSTRAINT [pk_CentroPrograma] PRIMARY KEY CLUSTERED 
(
	[IdCentro] ASC,
	[IdPrograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Competencia] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Competencia](
	[IdCompetencia] [int] IDENTITY(1,1) NOT NULL,
	[IdPrograma] [int] NOT NULL,
	[CodigoNorma] [varchar](30) NOT NULL,
	[NombreCompetencia] [varchar](200) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompetencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Evidencia] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evidencia](
	[IdEvidencia] [int] IDENTITY(1,1) NOT NULL,
	[IdPlan] [int] NOT NULL,
	[NombreArchivo] [varchar](200) NOT NULL,
	[RutaArchivo] [varchar](500) NOT NULL,
	[TipoArchivo] [varchar](10) NOT NULL,
	[FechaSubida] [datetime] NOT NULL,
	[Observaciones] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEvidencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[InstructorFicha] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstructorFicha](
	[IdInstructor] [int] NOT NULL,
	[IdFicha] [int] NOT NULL,
	[FechaAsignacion] [date] NOT NULL,
 CONSTRAINT [pk_InstructorFicha] PRIMARY KEY CLUSTERED 
(
	[IdInstructor] ASC,
	[IdFicha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PlanResultado] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanResultado](
	[IdPlan] [int] NOT NULL,
	[IdResultado] [int] NOT NULL,
 CONSTRAINT [pk_PlanResultado] PRIMARY KEY CLUSTERED 
(
	[IdPlan] ASC,
	[IdResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ResultadoAprendizaje] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultadoAprendizaje](
	[IdResultado] [int] IDENTITY(1,1) NOT NULL,
	[IdCompetencia] [int] NOT NULL,
	[CodigoResultado] [varchar](30) NOT NULL,
	[Descripcion] [varchar](300) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](60) NOT NULL,
	[Contrasena] [varchar](100) NOT NULL,
	[Rol] [varchar](20) NOT NULL,
	[IdReferencia] [int] NULL,
	[IdInstructor] [int] NULL,
	[IdAprendiz] [int] NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Aprendiz] ON 

INSERT [dbo].[Aprendiz] ([IdAprendiz], [IdFicha], [TipoDocumento], [NumeroDocumento], [Nombres], [Apellidos], [Correo], [Telefono], [Estado]) VALUES (1, 1, N'CC', N'1001234567', N'Juan', N'Pérez', N'juan.perez@gmail.com', N'31122222', N'En Formación')
INSERT [dbo].[Aprendiz] ([IdAprendiz], [IdFicha], [TipoDocumento], [NumeroDocumento], [Nombres], [Apellidos], [Correo], [Telefono], [Estado]) VALUES (2, 1, N'CC', N'1001234568', N'María', N'López', N'maria.lopez@gmail.com', N'3122222222', N'En Formación')
INSERT [dbo].[Aprendiz] ([IdAprendiz], [IdFicha], [TipoDocumento], [NumeroDocumento], [Nombres], [Apellidos], [Correo], [Telefono], [Estado]) VALUES (3, 1, N'CC', N'1001234569', N'Santiago', N'Ramírez', N'santiago.ramirez@gmail.com', N'3133333333', N'En Formación')
SET IDENTITY_INSERT [dbo].[Aprendiz] OFF
GO
SET IDENTITY_INSERT [dbo].[Centro] ON 

INSERT [dbo].[Centro] ([IdCentro], [CodigoCentro], [NombreCentro], [Departamento], [Municipio], [Estado]) VALUES (1, N'5200001', N'Centro de Desarrollo Agroempresarial', N'Cundinamarca', N'Bogotá', N'Activo')
INSERT [dbo].[Centro] ([IdCentro], [CodigoCentro], [NombreCentro], [Departamento], [Municipio], [Estado]) VALUES (2, N'5200002', N'Centro de Teleinformática y Producción Industrial', N'Cauca', N'Popayán', N'Activo')
SET IDENTITY_INSERT [dbo].[Centro] OFF
GO
INSERT [dbo].[CentroPrograma] ([IdCentro], [IdPrograma]) VALUES (1, 1)
INSERT [dbo].[CentroPrograma] ([IdCentro], [IdPrograma]) VALUES (1, 2)
INSERT [dbo].[CentroPrograma] ([IdCentro], [IdPrograma]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[Competencia] ON 

INSERT [dbo].[Competencia] ([IdCompetencia], [IdPrograma], [CodigoNorma], [NombreCompetencia], [Estado]) VALUES (1, 1, N'220501046', N'Construir e implementar bases de datos', N'Activo')
INSERT [dbo].[Competencia] ([IdCompetencia], [IdPrograma], [CodigoNorma], [NombreCompetencia], [Estado]) VALUES (2, 1, N'220501047', N'Desarrollar aplicaciones de software según requerimientos', N'Activo')
INSERT [dbo].[Competencia] ([IdCompetencia], [IdPrograma], [CodigoNorma], [NombreCompetencia], [Estado]) VALUES (3, 2, N'220501041', N'Programar aplicaciones informáticas', N'Activo')
SET IDENTITY_INSERT [dbo].[Competencia] OFF
GO
SET IDENTITY_INSERT [dbo].[Evaluacion] ON 

INSERT [dbo].[Evaluacion] ([IdEvaluacion], [IdPlan], [Producto], [Conocimiento], [Desempeno], [Observaciones], [FechaEvaluacion]) VALUES (1004, 1007, N'No Aprobado', N'No Aprobado', N'Aprobado', N'', CAST(N'2026-05-27' AS Date))
SET IDENTITY_INSERT [dbo].[Evaluacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Evidencia] ON 

INSERT [dbo].[Evidencia] ([IdEvidencia], [IdPlan], [NombreArchivo], [RutaArchivo], [TipoArchivo], [FechaSubida], [Observaciones]) VALUES (1005, 1007, N'20260527075508_Ejercicio Spring Boot dONACION (1).pdf', N'~/Evidencias/Ejercicio Spring Boot dONACION (1).pdf', N'PDF', CAST(N'2026-05-27T07:55:08.520' AS DateTime), N'')
INSERT [dbo].[Evidencia] ([IdEvidencia], [IdPlan], [NombreArchivo], [RutaArchivo], [TipoArchivo], [FechaSubida], [Observaciones]) VALUES (1006, 1007, N'20260527083002_Ejercicio Spring Boot dONACION (1).pdf', N'~/Evidencias/Ejercicio Spring Boot dONACION (1).pdf', N'PDF', CAST(N'2026-05-27T08:30:02.073' AS DateTime), N'')
INSERT [dbo].[Evidencia] ([IdEvidencia], [IdPlan], [NombreArchivo], [RutaArchivo], [TipoArchivo], [FechaSubida], [Observaciones]) VALUES (1007, 1007, N'20260527083116_API REST - Sistema de Donación de Sangre.pdf', N'~/Evidencias/API REST - Sistema de Donación de Sangre.pdf', N'PDF', CAST(N'2026-05-27T08:31:16.783' AS DateTime), N'')
SET IDENTITY_INSERT [dbo].[Evidencia] OFF
GO
SET IDENTITY_INSERT [dbo].[Ficha] ON 

INSERT [dbo].[Ficha] ([IdFicha], [IdPrograma], [CodigoFicha], [FechaInicio], [FechaFin], [Jornada], [Descripcion], [Estado]) VALUES (1, 1, N'2758369', CAST(N'2024-02-01' AS Date), CAST(N'2026-12-15' AS Date), N'Diurna', N'Ficha ADSI jornada mañana', N'En ejecución')
INSERT [dbo].[Ficha] ([IdFicha], [IdPrograma], [CodigoFicha], [FechaInicio], [FechaFin], [Jornada], [Descripcion], [Estado]) VALUES (2, 1, N'2758370', CAST(N'2024-02-01' AS Date), CAST(N'2026-12-15' AS Date), N'Nocturna', N'Ficha ADSI jornada noche', N'En ejecución')
INSERT [dbo].[Ficha] ([IdFicha], [IdPrograma], [CodigoFicha], [FechaInicio], [FechaFin], [Jornada], [Descripcion], [Estado]) VALUES (3, 2, N'2758399', CAST(N'2024-04-01' AS Date), CAST(N'2025-10-30' AS Date), N'Tarde', N'Ficha Técnico Programación', N'En ejecución')
SET IDENTITY_INSERT [dbo].[Ficha] OFF
GO
SET IDENTITY_INSERT [dbo].[Instructor] ON 

INSERT [dbo].[Instructor] ([IdInstructor], [IdCentro], [TipoDocumento], [NumeroDocumento], [Nombres], [Apellidos], [Correo], [Telefono], [Especialidad], [Estado]) VALUES (1, 1, N'CC', N'10234567', N'Carlos', N'Mendoza', N'carlos.mendoza@sena.edu.co', N'3001234567', N'Desarrollo de Software', N'Activo')
INSERT [dbo].[Instructor] ([IdInstructor], [IdCentro], [TipoDocumento], [NumeroDocumento], [Nombres], [Apellidos], [Correo], [Telefono], [Especialidad], [Estado]) VALUES (2, 1, N'CC', N'10234568', N'Laura', N'Gutierrez', N'laura.gutierrez@sena.edu.co', N'3007654321', N'Base de Datos', N'Activo')
INSERT [dbo].[Instructor] ([IdInstructor], [IdCentro], [TipoDocumento], [NumeroDocumento], [Nombres], [Apellidos], [Correo], [Telefono], [Especialidad], [Estado]) VALUES (3, 2, N'CC', N'10234569', N'Andrés', N'Torres', N'andres.torres@sena.edu.co', N'3109876543', N'Redes y Sistemas', N'Activo')
SET IDENTITY_INSERT [dbo].[Instructor] OFF
GO
INSERT [dbo].[InstructorFicha] ([IdInstructor], [IdFicha], [FechaAsignacion]) VALUES (1, 1, CAST(N'2024-02-01' AS Date))
INSERT [dbo].[InstructorFicha] ([IdInstructor], [IdFicha], [FechaAsignacion]) VALUES (1, 2, CAST(N'2024-02-01' AS Date))
INSERT [dbo].[InstructorFicha] ([IdInstructor], [IdFicha], [FechaAsignacion]) VALUES (2, 1, CAST(N'2024-02-01' AS Date))
GO
SET IDENTITY_INSERT [dbo].[PlanMejoramiento] ON 

INSERT [dbo].[PlanMejoramiento] ([IdPlan], [IdAprendiz], [IdInstructor], [IdPlanPadre], [TipoPlan], [Actividades], [Observaciones], [FechaAsignacion], [FechaLimite], [Estado], [ArchivoPlan]) VALUES (1008, 2, 1, NULL, N'Comite', N'Plan generado automaticamente por no aprobar plan interno', NULL, CAST(N'2026-05-27' AS Date), CAST(N'2026-06-11' AS Date), N'Pendiente', NULL)
SET IDENTITY_INSERT [dbo].[PlanMejoramiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Programa] ON 

INSERT [dbo].[Programa] ([IdPrograma], [CodigoPrograma], [NombrePrograma], [Version], [NivelFormacion], [Duracion], [Estado]) VALUES (1, N'228106', N'Tecnología en Análisis y Desarrollo de Software', N'1', N'Tecnólogo', 2112, N'Activo')
INSERT [dbo].[Programa] ([IdPrograma], [CodigoPrograma], [NombrePrograma], [Version], [NivelFormacion], [Duracion], [Estado]) VALUES (2, N'122317', N'Técnico en Programación de Software', N'2', N'Técnico', 1584, N'Activo')
INSERT [dbo].[Programa] ([IdPrograma], [CodigoPrograma], [NombrePrograma], [Version], [NivelFormacion], [Duracion], [Estado]) VALUES (4, N'2758369', N'Seguridad Y Salud en el trabajo', N'3', N'Tecnólogo', 2112, N'Activo')
SET IDENTITY_INSERT [dbo].[Programa] OFF
GO
SET IDENTITY_INSERT [dbo].[ResultadoAprendizaje] ON 

INSERT [dbo].[ResultadoAprendizaje] ([IdResultado], [IdCompetencia], [CodigoResultado], [Descripcion], [Estado]) VALUES (1, 1, N'RA01', N'Diseñar el modelo de base de datos según los requerimientos del cliente', N'Activo')
INSERT [dbo].[ResultadoAprendizaje] ([IdResultado], [IdCompetencia], [CodigoResultado], [Descripcion], [Estado]) VALUES (2, 1, N'RA02', N'Implementar la base de datos usando el motor de base de datos seleccionado', N'Activo')
INSERT [dbo].[ResultadoAprendizaje] ([IdResultado], [IdCompetencia], [CodigoResultado], [Descripcion], [Estado]) VALUES (3, 2, N'RA03', N'Desarrollar el front-end de la aplicación conforme a los requerimientos', N'Activo')
SET IDENTITY_INSERT [dbo].[ResultadoAprendizaje] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [Contrasena], [Rol], [IdReferencia], [IdInstructor], [IdAprendiz], [Estado]) VALUES (1, N'admin.ceet', N'Admin1234', N'Administrador', 0, NULL, NULL, N'Activo')
INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [Contrasena], [Rol], [IdReferencia], [IdInstructor], [IdAprendiz], [Estado]) VALUES (2, N'carlos.mendoza', N'Instructor1', N'Instructor', 1, 1, NULL, N'Activo')
INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [Contrasena], [Rol], [IdReferencia], [IdInstructor], [IdAprendiz], [Estado]) VALUES (3, N'laura.gutierrez', N'Instructor2', N'Instructor', 2, 2, NULL, N'Activo')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Aprendiz__A420258868CA1C27] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
ALTER TABLE [dbo].[Aprendiz] ADD UNIQUE NONCLUSTERED 
(
	[NumeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Centro__E54E3D124BE1EF27] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
ALTER TABLE [dbo].[Centro] ADD UNIQUE NONCLUSTERED 
(
	[CodigoCentro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ__Evaluaci__FB8102AF255C95CA] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
ALTER TABLE [dbo].[Evaluacion] ADD UNIQUE NONCLUSTERED 
(
	[IdPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Ficha__B6C58D140EED221D] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
ALTER TABLE [dbo].[Ficha] ADD UNIQUE NONCLUSTERED 
(
	[CodigoFicha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Instruct__A4202588F5CF0EF7] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
ALTER TABLE [dbo].[Instructor] ADD UNIQUE NONCLUSTERED 
(
	[NumeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Programa__67F8A394FA5F3168] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
ALTER TABLE [dbo].[Programa] ADD UNIQUE NONCLUSTERED 
(
	[CodigoPrograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuario__6B0F5AE07A79439B] Fecha de script: 28/05/2026 4:40:28 p. m. ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aprendiz] ADD  DEFAULT ('En Formación') FOR [Estado]
GO
ALTER TABLE [dbo].[Centro] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Competencia] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Evaluacion] ADD  DEFAULT (getdate()) FOR [FechaEvaluacion]
GO
ALTER TABLE [dbo].[Evidencia] ADD  DEFAULT (getdate()) FOR [FechaSubida]
GO
ALTER TABLE [dbo].[Ficha] ADD  DEFAULT ('En ejecución') FOR [Estado]
GO
ALTER TABLE [dbo].[Instructor] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[InstructorFicha] ADD  DEFAULT (getdate()) FOR [FechaAsignacion]
GO
ALTER TABLE [dbo].[PlanMejoramiento] ADD  DEFAULT ('Interno') FOR [TipoPlan]
GO
ALTER TABLE [dbo].[PlanMejoramiento] ADD  DEFAULT (getdate()) FOR [FechaAsignacion]
GO
ALTER TABLE [dbo].[PlanMejoramiento] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Programa] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[ResultadoAprendizaje] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Aprendiz]  WITH CHECK ADD  CONSTRAINT [fk_Aprendiz_Ficha] FOREIGN KEY([IdFicha])
REFERENCES [dbo].[Ficha] ([IdFicha])
GO
ALTER TABLE [dbo].[Aprendiz] CHECK CONSTRAINT [fk_Aprendiz_Ficha]
GO
ALTER TABLE [dbo].[CentroPrograma]  WITH CHECK ADD  CONSTRAINT [fk_CP_Centro] FOREIGN KEY([IdCentro])
REFERENCES [dbo].[Centro] ([IdCentro])
GO
ALTER TABLE [dbo].[CentroPrograma] CHECK CONSTRAINT [fk_CP_Centro]
GO
ALTER TABLE [dbo].[CentroPrograma]  WITH CHECK ADD  CONSTRAINT [fk_CP_Programa] FOREIGN KEY([IdPrograma])
REFERENCES [dbo].[Programa] ([IdPrograma])
GO
ALTER TABLE [dbo].[CentroPrograma] CHECK CONSTRAINT [fk_CP_Programa]
GO
ALTER TABLE [dbo].[Competencia]  WITH CHECK ADD  CONSTRAINT [fk_Competencia_Programa] FOREIGN KEY([IdPrograma])
REFERENCES [dbo].[Programa] ([IdPrograma])
GO
ALTER TABLE [dbo].[Competencia] CHECK CONSTRAINT [fk_Competencia_Programa]
GO
ALTER TABLE [dbo].[Evaluacion]  WITH CHECK ADD  CONSTRAINT [fk_Evaluacion_Plan] FOREIGN KEY([IdPlan])
REFERENCES [dbo].[PlanMejoramiento] ([IdPlan])
GO
ALTER TABLE [dbo].[Evaluacion] CHECK CONSTRAINT [fk_Evaluacion_Plan]
GO
ALTER TABLE [dbo].[Evidencia]  WITH CHECK ADD  CONSTRAINT [fk_Evidencia_Plan] FOREIGN KEY([IdPlan])
REFERENCES [dbo].[PlanMejoramiento] ([IdPlan])
GO
ALTER TABLE [dbo].[Evidencia] CHECK CONSTRAINT [fk_Evidencia_Plan]
GO
ALTER TABLE [dbo].[Ficha]  WITH CHECK ADD  CONSTRAINT [fk_Ficha_Programa] FOREIGN KEY([IdPrograma])
REFERENCES [dbo].[Programa] ([IdPrograma])
GO
ALTER TABLE [dbo].[Ficha] CHECK CONSTRAINT [fk_Ficha_Programa]
GO
ALTER TABLE [dbo].[Instructor]  WITH CHECK ADD  CONSTRAINT [fk_Instructor_Centro] FOREIGN KEY([IdCentro])
REFERENCES [dbo].[Centro] ([IdCentro])
GO
ALTER TABLE [dbo].[Instructor] CHECK CONSTRAINT [fk_Instructor_Centro]
GO
ALTER TABLE [dbo].[InstructorFicha]  WITH CHECK ADD  CONSTRAINT [fk_IF_Ficha] FOREIGN KEY([IdFicha])
REFERENCES [dbo].[Ficha] ([IdFicha])
GO
ALTER TABLE [dbo].[InstructorFicha] CHECK CONSTRAINT [fk_IF_Ficha]
GO
ALTER TABLE [dbo].[InstructorFicha]  WITH CHECK ADD  CONSTRAINT [fk_IF_Instructor] FOREIGN KEY([IdInstructor])
REFERENCES [dbo].[Instructor] ([IdInstructor])
GO
ALTER TABLE [dbo].[InstructorFicha] CHECK CONSTRAINT [fk_IF_Instructor]
GO
ALTER TABLE [dbo].[PlanMejoramiento]  WITH CHECK ADD  CONSTRAINT [fk_Plan_Aprendiz] FOREIGN KEY([IdAprendiz])
REFERENCES [dbo].[Aprendiz] ([IdAprendiz])
GO
ALTER TABLE [dbo].[PlanMejoramiento] CHECK CONSTRAINT [fk_Plan_Aprendiz]
GO
ALTER TABLE [dbo].[PlanMejoramiento]  WITH CHECK ADD  CONSTRAINT [fk_Plan_Instructor] FOREIGN KEY([IdInstructor])
REFERENCES [dbo].[Instructor] ([IdInstructor])
GO
ALTER TABLE [dbo].[PlanMejoramiento] CHECK CONSTRAINT [fk_Plan_Instructor]
GO
ALTER TABLE [dbo].[PlanMejoramiento]  WITH CHECK ADD  CONSTRAINT [fk_Plan_Padre] FOREIGN KEY([IdPlanPadre])
REFERENCES [dbo].[PlanMejoramiento] ([IdPlan])
GO
ALTER TABLE [dbo].[PlanMejoramiento] CHECK CONSTRAINT [fk_Plan_Padre]
GO
ALTER TABLE [dbo].[PlanResultado]  WITH CHECK ADD  CONSTRAINT [fk_PR_Plan] FOREIGN KEY([IdPlan])
REFERENCES [dbo].[PlanMejoramiento] ([IdPlan])
GO
ALTER TABLE [dbo].[PlanResultado] CHECK CONSTRAINT [fk_PR_Plan]
GO
ALTER TABLE [dbo].[PlanResultado]  WITH CHECK ADD  CONSTRAINT [fk_PR_Resultado] FOREIGN KEY([IdResultado])
REFERENCES [dbo].[ResultadoAprendizaje] ([IdResultado])
GO
ALTER TABLE [dbo].[PlanResultado] CHECK CONSTRAINT [fk_PR_Resultado]
GO
ALTER TABLE [dbo].[ResultadoAprendizaje]  WITH CHECK ADD  CONSTRAINT [fk_Resultado_Competencia] FOREIGN KEY([IdCompetencia])
REFERENCES [dbo].[Competencia] ([IdCompetencia])
GO
ALTER TABLE [dbo].[ResultadoAprendizaje] CHECK CONSTRAINT [fk_Resultado_Competencia]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [fk_Usuario_Aprendiz] FOREIGN KEY([IdAprendiz])
REFERENCES [dbo].[Aprendiz] ([IdAprendiz])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [fk_Usuario_Aprendiz]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [fk_Usuario_Instructor] FOREIGN KEY([IdInstructor])
REFERENCES [dbo].[Instructor] ([IdInstructor])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [fk_Usuario_Instructor]
GO
USE [master]
GO
